body{
    background-color: antiquewhite;
}
.content h1{
    color: #ece6e6;
    padding-top: 50px;
    font-size: 50px;
    text-align: center;
}
.convert{
    padding: 20px 350px ;
    padding-top: 10px;
    font-size: 30px;
    color: yellow;
}
.cell{
    padding-left: 20px;
  
 
  
}
.unit{
    padding-left: 25px;
}
